@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

h1 {
  font-size: 3rem;
  font-family: "Abril fatface", "serif";
}

.container {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}

#color-box {
  width: 300px;
  height: 250px;
  background-color: black;
}

#change-color-btn {
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
}
